<footer class="line">
  <div class="content">
    <section class="about">
      <header class="hd">
        <h3 id="about-me">About</h3>
      </header>
      <div class="in">
        <p>Allison Urban is a Web Analyst / UX Designer at <a href="http://mailchimp.com">MailChimp</a> and owner of <a href="http://lungingbull.com">Lunging Bull</a>, a tiny web studio specializing in design and development for early-stage startups. She&rsquo;s also an avid reader, fiction writer and newly minted scuba diver. She <a href="http://goodreads.com/allisonurban">loves books</a>, the Internet, mysterious landscapes, and <a href="http://seedthings.tumblr.com/">seeds for stories</a>. She collects business models and creative war stories. She has a BFA in <a href="http://www.dxarts.washington.edu/">Digital and Experimental Media Art</a> from the University of Washington. Her work has been featured in .Net Magazine, Dezeen Design and Architecture Magazine, SCRIPT Journal and MTVu.</p>
      </div>
    </section>
    <section class="lets-talk">
      <header class="hd">
        <h3 id="about-me">Want to work together?</h3>
      </header>
      <p class="bd">If you want to hire me, collaborate, throw ideas around or work on something amazing together, <a href="mailto:allisonkurban@gmail.com">I&rsquo;m available</a>.</p>
    </section>
    <section class="links">
      <header class="hd">
        <h3 id="about-me">Follow</h3>
      </header>
      <div class="bd">
        <ul class="plainlist">
          <li>
            <a href="https://twitter.com/#!/allisonurban">Twitter</a>
          </li>
          <li>
            <a href="http://goodreads.com/allisonurban">GoodReads</a>
          </li>
          <li>
            <a href="http://seedthings.tumblr.com">Tumblr</a>
          </li>
          <li>
            <a href="https://github.com/allisonurban">GitHub</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</footer>